* {
    margin: 0;
    padding: 0
}

header {
    height: 70px;
    background-color: #0E3658;
    padding: 10px 10px;
}

nav {}

nav ul {
    list-style: none;
    align: center
}

nav ul li {
    display: inline-block
}

nav ul li a {
    /*position: absolute;*/
    width: 1221px;
    height: 42px;
    left: 109px;
    top: 162px;
    text-decoration: none;
    color: #3CB1F3;
    font-family: Karla;
    font-weight: normal;
    font-size: 36px;
    margin: 0 10px;
    line-height: 42px;
    text-transform: uppercase;
    transition: 0.6s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
    font-family: Karla;
    font-size: 130%
}

header2 {
    height: 90px;
    background-color: #3CB1F3;
    padding: 5px 1350px;
}