$fallback-fonts: helvetica, arial, sans-serif;

//COLORS
$purple: #052c6f;
$dark-purple: #041939;
$light-blue: #055ebb;
$very-light-blue: #4c8dff;
//BREAKPOINT
$sm-breakpoint: 520px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
